<div id="header">
  <div id="tagline"><a href="index.html">UKRSE</a></div>
  <ul>
    <li><a href="conf2016.html"><strong>RSE Conference 2016</strong></a></li>
    <li><a href="who.html">About</a></li>
    <li><a href="why.html">Why?</a></li>
    <li><a href="groups.html">Groups</a></li>
    <li><a href="help.html">Help Out</a></li>
    <li><a href="objectives.html">Objectives</a></li>
    <li><a href="supporters.html">Supporters</a></li>
    <li><a href="join.html">Join Us!</a></li>
    <li><a href="events.html">Events</a></li>
    <li><a href="jobs.html">Jobs</a></li>
  </ul>
</div>
