html
{
  height:100%;
}

body
{
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: #555555;
}

#main
{
  border: none;
}

h1,
h2
{
  color: #97316e;
  font-weight: normal;
}

h1
{
  font-size: 40px;
}

h2
{
  font-size: 20px;
}

a
{
  text-decoration: none;
  color: #97316e;
}

#content ul li
{
  padding-bottom: 5px;
  margin-left: -25px;
}

#content ol li
{
  padding-bottom: 5px;
  margin-left: -20px;
}

#header
{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  border-top: 5px solid #97316e;
  background-color: #eeeeee;
  color: #555555;
}

#header ul
{
  float: right;
}

#header ul li
{
  display: inline-block;
  *zoom: 1;
  *display: inline;
  padding-right: 20px;
}

#header a
{
  text-decoration: none;
  color: #555555;
}

#tagline
{
  font-size: 20px;
  float: left;
  position: fixed;
  top: 20px;
  left: 20px;
}

#footer
{
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  border-bottom: 5px solid #97316e;
  text-align: center;
  background-color: #eeeeee;
  color: #555555;
  line-height: 30px;
}

#title
{
  width: 55%;
  padding-top: 55px;
  padding-left: 20px;
  background-color: #ffffff;
}

#title_full
{
  margin-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
  z-index: -1 ;
  text-align: center;
}

#title_full h1
{
  font-size: 100px;
}

#content
{
  width: 100%;
  margin: 0 auto;
  line-height: 1.3em;
}

#content_full
{
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
  z-index: -1
}

#content_left
{
  width: 55%;
  float: left;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: 20px;
  z-index: -1
}

#content_right
{
  width: 40%;
  float: right;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-right: 20px;
  z-index: -1
}

.front-column-left
{
  float: left;
  width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.front-column-right
{
  float: right;
  width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.front-column-centre
{
  display: inline-block;
  width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#join_us
{
  text-align: center;
}

#content_right table
{
  border-spacing: 0px;
}

#content_right th
{
  border-bottom: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}

#content_right td
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
}

#content_right td:first-child
{
  font-weight: bold;
}

#content_right tr:nth-child(odd)
{
  background-color: #fff;
}

#content_right tr:nth-child(even)
{
  background-color: #eee;
}
