body
{
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: #555555;
}
#main
{
  border: none;
}
h1,
h2
{
  color: #97316e;
}
h1
{
  font-size: 40px;
}
#content ul li,
#content ol li
{
  padding-bottom: 5px;
}
#header
{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  border-top: 5px solid #97316e;
  background-color: #eeeeee;
  color: #555555;
}
#header ul
{
  float: right;
}
#header ul li
{
  display: inline-block;
  padding-left: 30px;
}
#header a
{
  text-decoration: none;
  color: #555555;
}
#tagline
{
  font-size: 20px;
  float: left;
  position: fixed;
  top: 20px;
  left: 20px;
}

#footer
{
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  border-bottom: 5px solid #97316e;
  text-align: center;
  background-color: #eeeeee;
  color: #555555;
  line-height: 30px;
}
#title
{
  width: 700px;
  min-height: 60px;
  position: fixed;
  top: 75px;
  left: 90px;
}
#content
{
  width: 100%;
}
#content_left
{
  width: 700px;
  min-height: 500px;
  margin: 10px;
  position: fixed;
  left: 80px;
  top: 170px;
}
#content_right
{
  width: 500px;
  min-height: 500px;
  margin: 10px;
  position: fixed;
  left: 820px;
  top: 170px;
}

