<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
     <script src="html5shiv.js"></script>
    <![endif]-->
    <title>{{page.title}}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
  </head>
  <body>
    <div id="header">
      <div id="tagline"><a href="index.html">The UK Community of Research Software Engineers</a></div>
      <ul>
        <li><a href="who.html">About</a></li>
        <li><a href="why.html">Why?</a></li>
        <li><a href="help.html">Help Out</a></li>
        <li><a href="objectives.html">Objectives</a></li>
        <li><a href="supporters.html">Supporters</a></li>
        <li><a href="join.html">Join Us!</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="jobs.html">Jobs</a></li>
      </ul>
    </div>
    <div id="main">
      <div id="title"><h1>{{page.title}}</h1></div>
      <div id="content">

{% assign columns = content | split: 'COLUMN_SEPARATOR' %}
        <div id="content_left">
{{columns[0]}}
        </div>
        <div id="content_right">
{{columns[1]}}
        </div>

      </div>
    </div>
    <div id="footer">Academia must adapt to the fundamental role that software plays in today's research.</div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51879155-1', 'rse.ac.uk');
  ga('send', 'pageview');

</script>
  </body>
</html>
