<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
     <script src="html5shiv.js"></script>
    <![endif]-->
    <title>{{page.title}}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
  </head>
  <body>
    {% include topbar.html %}
    <div id="main">
      <div id="title_full"><h1>{{page.title}}</h1></div>
      <div id="content">
        <div id="content_full">
        {{content}}
          <table>
            <tr>
              <td class="table_left"><h2><a href="who.html">Are you a Research Software Engineer?</a></h2>People who combine expertise with software and an intricate understanding of research&hellip;</td>
              <td id="join_us"><h1><a href="join.html">Join us!</a></h1></td>
              <td class="table_right"><h2><a href="help.html">What can I do to help?</a></h2>You can help by joining us, by raising awareness of research software engineering&hellip;</td>
            </tr>
            <tr>
              <td class="table_left"><h2><a href="objectives.html">Our Objectives</a></h2>We will create a community for the UK’s Research Software Engineers&hellip;</td>
              <td><h2><a href="why.html">Why does it matter?</a></h2>If the UK is to continue to be a major research leader, effort and resources must be invested&hellip;</td>
              <td class="table_right"><h2><a href="supporters.html">Supporters</a></h2>Who’s helping the community&hellip;</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
