<html>
  <head>
    <title>{{page.title}}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
  </head>
  <body>
    <div id="header">
      <div id="tagline"><a href="index.html">The UK Community of Research Software Engineers</a></div>
      <ul>
        <li><a href="who.html">About</a></li>
        <li><a href="why.html">Why?</a></li>
        <li><a href="objectives.html">Objectives</a></li>
        <li><a href="supporters.html">Supporters</a></li>
        <li><a href="join.html">Join Us!</a></li>
      </ul>
    </div>
    <div id="main">
      <div id="title_full"><h1>{{page.title}}</h1></div>
      <div id="content">
        <div id="content_full">
{{content}}
          <table>
            <tr>
              <td class="table_left"><h2><a href="who.html">Are you a Research Software Engineer?</a></h2>People who combine expertise with software and an intricate understanding of research&hellip;</td>
              <td id="join_us"><h1><a href="join.html">Join us!</a></h1></td>
              <td class="table_right"><h2>What can I do to help?</h2>You can help by joining us, by raising awareness of research software engineering&hellip;</td>
            </tr>
            <tr>
              <td class="table_left"><h2><a href="objectives.html">Our Objectives</a></h2>We will create a community for the UK’s Research Software Engineers&hellip;</td>
              <td><h2><a href="why.html">Why does it matter?</a></h2>If the UK is to continue to be a major research leader, effort and resources must be invested&hellip;</td>
              <td class="table_right"><h2>Supporters</h2>Who’s helping the community&hellip;</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="footer">Academia must adapt to the fundamental role that software plays in today's research.</div>
  </body>
</html>
